body,
html {
    background-image: url(../images/skaterpark.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    background-color: black;
    border: 0%;
    margin: 0%;
}

#logo-div {
    padding: 28.5%;
    padding-top: 10%;
    padding-bottom: 0%;
    width: 37%;
    float: center;
    
}

#logo {
    width: 100%;
    border: 3px solid white;
    padding: 5.5%;
    background-color: black;
    opacity: 0.8;
}


nav {
    color: white;
    text-align: center;
    line-height: 1;
    font-family: verdana;
    margin-top: 9%;
    float: center;

}

li {
    display: inline;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid;
    border-color: white;
    border-radius: 5%;
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
}

/---------------------pages---button----------------------/ 
#about-page {
    width: 100%;
}


#backbtn-about {
    width: 20%;
    transform: translate(360%, 90%)
}

#backbtn-contact {
    width: 5%;
    position: absolute;
    transform: translate(75%,-950%);
    cursor: pointer;
}

#backbtn-product {
    width: 5%;
    position: absolute;
    transform: translate(75%,-3600%);
    cursor: pointer;
}

#product-page {
    width: 100%;
    position:relative;
    transform: translate(-100%, -19%);
    background-color: black;
    display: none;
}

#about-page {
    position: relative;
    transform: translate(0%, 10%);
    display: none;
    line-height: 1;
}

#contact-page {
    width: 100%;
    position:relative;
    transform: translate(100%, -66.2%);
    display: none;
    background-color: black;
    background-image: url(../images/baggrund.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}


/------------------------products-------------------------/
#logo-products {
    background-color: black;
    width: 100%;
}

#logo-products img {
    width: 40%;
    margin-left: 30%;
    text-align: center;
    background-color: black;
    padding-top: 10%;
    
}

.wrapper-products {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1%;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: 2%;
    padding-bottom: 0%;
    text-align: center;

}

#picture {
    width: 95%;
}

h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 7%;
    background-color: black;
    font-family: roboto;
}

h3 {
    padding: 3%;
    font-size: 20px;
    font-family: verdana
}
/-------------------------about---------------------------/
#teaser-vid {
    float: left;
    height: 1080px;
    width: 100%;

}

#3-images {
    float: left;
    width: 100%;
}

.smallimg {
    float: left;
    width: 33.33%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url(../images/mess-black.jpg);

}

#heroimg {
    float: left;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/asfalt.jpg");

    /* Set a specific height */
    height: 500px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


#heroimg p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 50%;
    background-color: grey;
    font-family: verdana;
    padding: 2%;
}

.inf {
    float: left;
    width: 100%;
    height: 450px;
}

#infvid1 {
    float: left;
    width: 50%;
    height: 450px;
}

#infvid2 {
    float: left;
    width: 50%;
    height: 450px;
}

.infbox {
    float: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/asfalt.jpg");
    width: 50%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.infbox p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 50%;
    background-color: grey;
    font-family: verdana;
    padding: 2%;
}


/-----------------------------contact------------------------------/ 

#contact {width: 100%}

#contact-logo {
    float: center;
    position: relative;
    width: 20%;
    height: 100%;
    margin-left: 40%;
    margin-top: 3%;
}

input[type=text],
select,
textarea {
    width: 100%;
    position: relative;
    padding: 2%;
    padding-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 3.5%;
    resize: vertical;
    font-family: verdana;
}

input[type=submit] {
    position: relative;
    background-color:white;
    color: black;
    padding: 3% 7%;
    border: none;
    cursor: pointer;
    font-family: verdana

}

input[type=submit]:hover {
    background-color: darkgrey;
}

.container {
    position: relative;
    padding-bottom: 3.5%;
    color: white;
    margin-top: 2%;
    width: 35%;
    margin-left: 4%;
    margin-right: 5%;
    font-family: verdana;
}


#facebook img {
    position: absolute;
    width: 4%;
    margin-right: 2%;
    margin-left: 2%;
    transform: translate(2000%,-220%);
}

#instagram img {
    position: absolute;
    width: 4%;
    margin-right: 2%;
    margin-left: 2%;
    transform: translate(2200%,-221%);
}
