body,
html {
    background-image: url(../images/asphalt.jpeg);
    height: 100%;
    background-color: black;
    border: 0%;
    margin: 0%;

}

/*
#logo-div {
    margin: 30%;
    margin-top: 12.5%;
    margin-bottom: 0%;
    width: 40%;
    line-height: 1;
    float: center;
}

#logo {
    width: 100%;
   
}

*/


nav {
    color: white;
    text-align: center;
    line-height: 1;
    font-family: verdana;
    margin-top: 9%;
    float: center;
    
}

li {
    display: inline;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border: 3px solid;
    border-color: white;
    border-radius: 5%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
    opacity: 0.8;
    
}

/!--------------------------------------------------------/

#products{
    width: 100%;
}

h1 {color: white; float:left;}

#asfalt {width: 100%; float: left;
    
}

#backbtn{width: 100px; height: 100px ; position: relative; float: left; transform: translate(1280%, 100%);
    
}

#products {position:relative;
transform: translate(-100%, -630px);
display: none;
line-height: 1;}




/*--------------------------------------------------------*/
/*Frontpage*/

#logo-div {
    margin: 26.5%;
    margin-top: 10%;
    margin-bottom: 0%;
    width: 40%;
    line-height: 1;
    float: center;
    border: 5px solid white;
    padding: 3%;
    background-color: black;
    opacity: 0.8
}

#logo {
    width: 100%;
   
    

   
}
